.root {
  -fx-background-color: #A0A0A0;
  -fx-padding: 5px;
}

GridPane {
  -fx-pref-width: 300px;
  -fx-pref-height: 600px;
  -fx-min-width: 300px;
  -fx-min-height: 600px;
}

#scrollPane {
  -fx-background-color: #1e1e1e;
  -fx-background-insets: 0;
  -fx-border-color: #444444;
  -fx-border-width: 1px;
}

#textFlow {
  -fx-padding: 10px;
}

#gameState {
  -fx-fill: #404080;
  -fx-font-family: "Segoe UI", sans-serif;
  -fx-font-size: 14px;
}

#guessInput {
  -fx-background-color: #3c3f41;
  -fx-text-fill: white;
  -fx-prompt-text-fill: #888888;
  -fx-background-radius: 0;
  -fx-border-color: #444444;
  -fx-border-width: 1px 0 1px 1px;
}

#guessInput:focused {
  -fx-border-color: #0078d7;
}

#send {
  -fx-background-color: #0078d7;
  -fx-background-radius: 3px;
  -fx-cursor: hand;
  -fx-opacity: 1;
}

#send:hover {
  -fx-background-color: #1a8ad4;
}

#send:disabled {
  -fx-opacity: 0.2;
}

TilePane#guessPalette {
  -fx-max-height: Infinity;
  -fx-max-width: Infinity;
  -fx-alignment: center;
  -fx-tile-alignment: center;
  -fx-hgap: 16px;
  -fx-vgap: 16px;
  -fx-pref-columns: 4;
  -fx-padding: 10px;
}

Button.palette-button {
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-alignment: center;
  -fx-content-display: center;
}

Button.palette-button:hover {
  -fx-cursor: hand;
}

Button.palette-button > Circle {
  -fx-stroke-width: 2px;
  -fx-stroke: #000000C0;
}

Button.palette-button:hover > Circle {
  -fx-stroke-width: 2px;
  -fx-stroke: white;
}

Button.palette-button.red-fill > Circle {
  -fx-fill: red;
}

Button.palette-button.orange-fill > Circle {
  -fx-fill: orange;
}

Button.palette-button.yellow-fill > Circle {
  -fx-fill: yellow;
}

Button.palette-button.green-fill > Circle {
  -fx-fill: green;
}

Button.palette-button.blue-fill > Circle {
  -fx-fill: blue;
}

Button.palette-button.indigo-fill > Circle {
  -fx-fill: indigo;
}

Button.palette-button.violet-fill > Circle {
  -fx-fill: violet;
}

TilePane#guessContainer {
  -fx-max-height: Infinity;
  -fx-max-width: Infinity;
  -fx-alignment: center;
  -fx-tile-alignment: center;
  -fx-hgap: 8px;
  -fx-vgap: 8px;
  -fx-padding: 8px;
}

#guessContainer .radio-button {
  -fx-content-display: center;
  -fx-min-width: 30px;
  -fx-min-height: 30px;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-border-width: 2px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-cursor: hand;
}

#guessContainer .radio-button .radio {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-padding: 0;
  -fx-opacity: 0;
}

#guessContainer .radio-button .label {
  -fx-text-fill: #202020;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
}

#guessContainer .radio-button:selected {
  -fx-border-color: #404040;
  -fx-background-color: #A0A0A0;
}

#guessContainer .radio-button .graphic-region {
  -fx-min-width: 24px;
  -fx-min-height: 24px;
}

#guessContainer .radio-button.red-fill .graphic-region {
  -fx-background-color: red;
  -fx-shape: "M 0,50
      a 50, 50 0 1,0 100, 0
      a 50, 50 0 1,0 -100, 0
      z";
}

#guessContainer .radio-button.orange-fill .graphic-region {
  -fx-background-color: orange;
  -fx-shape: "M 0,50
  a 50, 50 0 1,0 100, 0
  a 50, 50 0 1,0 -100, 0
  z";
}

#guessContainer .radio-button.yellow-fill .graphic-region {
  -fx-background-color: yellow;
  -fx-shape: "M 0,50
  a 50, 50 0 1,0 100, 0
  a 50, 50 0 1,0 -100, 0
  z";
}

#guessContainer .radio-button.green-fill .graphic-region {
  -fx-background-color: green;
  -fx-shape: "M 0,50
      l 50,-50
      l 50,50
      l -50,50
      z";
}

#guessContainer .radio-button.blue-fill .graphic-region {
  -fx-background-color: blue;
  -fx-shape: "M 0,93
      h 100
      l -50,-86.6
      z";
}

#guessContainer .radio-button.indigo-fill .graphic-region {
  -fx-background-color: indigo;
  -fx-shape: "M 0,50
  a 50, 50 0 1,0 100, 0
  a 50, 50 0 1,0 -100, 0
  z";
}

#guessContainer .radio-button.violet-fill .graphic-region {
  -fx-background-color: violet;
  -fx-shape: "M 0,50
  a 50, 50 0 1,0 100, 0
  a 50, 50 0 1,0 -100, 0
  z";
}

