BorderPane {
  -fx-pref-width: 300px;
  -fx-pref-height: 600px;
  -fx-min-width: 300px;
  -fx-min-height: 600px;
  -fx-border-width: 10px;
}

#gameState {
  -fx-pref-width: 100%;
  -fx-min-width: 100%;
  -fx-pref-height: 500px;
  -fx-min-height: 500px;
  -fx-border-width: 1px;
  -fx-border-color: gray;
}

